@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    font-family: 'Inconsolata', monospace;
}

.calculator{
    display: grid;
    grid-template-columns: 375px;
    place-content: center;
    place-items: center;
    height: 100vh;

    &.theme-one{
        background-color: tomato;
    }
    &.theme-two{
        background-color: lightgreen;
    }
    &.theme-three{
        background-color: lightblue;
    }
}
