.selector{
    display: flex;
    position: relative;
    background-color: hsl(223, 31%, 20%);
    padding: 10px;
    border-radius: 100px;
}

.switch{
    width: 20px;
    height: 20px;
    background: hsl(6, 63%, 50%);
    border-radius: 100%;
    position: absolute;
    transition: transform .3s ;
    &.themeOne{
        transform: translateX(0);
    }
    &.themeTwo{
        transform: translateX(100%);
    }
    &.themeThree{
        transform: translateX(200%);
    }
}

.opt{
    width: 20px;
    height: 20px;
}

